fastapi
pydantic
uvicorn[standard]
gunicorn
langchain
langgraph>=0.0.50
langsmith
google-generativeai>=0.3.0
python-dotenv
google-cloud-aiplatform
mem0ai
pandas>=1.0.0
langchain-google-genai

pytest-asyncio

langchain-community
chromadb

